<div class="news-panel" fxFlex="90">

  <h1 style="background : url('assets/img/backgroung_title.png');
  font-family: 'Ink Free',serif; font-size-adjust: 60px;
background-size: cover;
  position: center;
padding: 40px 0 40px 0">ACTUALITES</h1>

  <mat-tab-group>

    <mat-tab label="Toutes">

      <div fxFlex fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row wrap">
          <!--List of card-->
          <div
            *ngFor="let comm of allComs$ | async"
            fxFlex="25"
            fxFlex.md="33"
            fxFlex.sm="50"
            fxFlex.xs="100"
            fxLayout="column"
            style="padding: 5px;"
          >
            <mat-card class="new-card mat-elevation-z10 text-center" style="height: 493px; max-width: 379px">

              <mat-card-header>

                <mat-card-title class="new-card-title">{{comm.title}}</mat-card-title>

              </mat-card-header>

              <img mat-card-image src="http://localhost:9101/image/{{comm.imagePath}}" style="max-height: 200px; width: auto">

              <mat-card-content>
                <p>{{comm.body}}</p>
              </mat-card-content>

              <mat-card-actions class="new-actions">
                <!--TODO tester fxFlexsur button-->
                <button  mat-button class="mat-raised-button" routerLink="communication/{{comm.id}}">
                  Lire
                </button>

              </mat-card-actions>

            </mat-card>
          </div>
          <!--List of card-->
        </div>
      </div>

    </mat-tab>

    <mat-tab label="Manifestations">

      <div fxFlex fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row wrap">
          <!--List of card-->
          <div
            *ngFor="let comm of manifComs$ | async"
            fxFlex="25"
            fxFlex.md="33"
            fxFlex.sm="50"
            fxFlex.xs="100"
            fxLayout="column"
            style="padding: 5px;"
          >
            <mat-card class="new-card mat-elevation-z10 text-center">

              <mat-card-header>

                <mat-card-title class="new-card-title">{{comm.title}}</mat-card-title>

              </mat-card-header>

              <img mat-card-image src="http://localhost:9101/image/{{comm.imagePath}}">

              <mat-card-content>
                <p>{{comm.body}}</p>
              </mat-card-content>

              <mat-card-actions class="new-actions">
                <!--TODO tester fxFlexsur button-->
                <button  mat-button class="mat-raised-button" routerLink="communication/{{comm.id}}">
                  Lire
                </button>

              </mat-card-actions>

            </mat-card>
          </div>
          <!--List of card-->
        </div>
      </div>

    </mat-tab>

    <mat-tab label="Actualités">

      <div fxFlex fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row wrap">
          <!--List of card-->
          <div
            *ngFor="let comm of actuComs$ | async"
            fxFlex="25"
            fxFlex.md="33"
            fxFlex.sm="50"
            fxFlex.xs="100"
            fxLayout="column"
            style="padding: 5px;"
          >
            <mat-card class="new-card mat-elevation-z10 text-center">

              <mat-card-header>

                <mat-card-title class="new-card-title">{{comm.title}}</mat-card-title>

              </mat-card-header>

              <img mat-card-image src="http://localhost:9101/image/{{comm.imagePath}}">
              <mat-card-content>
                <p>{{comm.body}}</p>
              </mat-card-content>

              <mat-card-actions class="new-actions">
                <!--TODO tester fxFlexsur button-->
                <button  mat-button class="mat-raised-button" routerLink="communication/{{comm.id}}">
                  Lire
                </button>

              </mat-card-actions>

            </mat-card>
          </div>
          <!--List of card-->
        </div>
      </div>

    </mat-tab>

    <mat-tab label="Informations">

      <div fxFlex fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row wrap">
          <!--List of card-->
          <div
            *ngFor="let new of infoComs$ | async"
            fxFlex="25"
            fxFlex.md="33"
            fxFlex.sm="50"
            fxFlex.xs="100"
            fxLayout="column"
            style="padding: 5px;"
          >
            <mat-card class="new-card mat-elevation-z10 text-center">

              <mat-card-header>

                <mat-card-title class="new-card-title">{{new.title}}</mat-card-title>

              </mat-card-header>

              <!--  <img mat-card-image [src]="new.path">-->
              <img mat-card-image src="http://localhost:9101/image/{{new.imagePath}}">

              <mat-card-content>
                <p>{{new.body}}</p>
              </mat-card-content>

              <mat-card-actions class="new-actions">
                <!--TODO tester fxFlexsur button-->
                <button  mat-button class="mat-raised-button" [routerLink]="['/news', new.id]">
                  Lire
                </button>

              </mat-card-actions>

            </mat-card>
          </div>
          <!--List of card-->
        </div>
      </div>

    </mat-tab>

  </mat-tab-group>


</div>


