h1{
  text-align: center;
  margin: 50px 50px;
  font-size: 40px;
}

.news-panel {
  margin: 0 auto;
}
.new-card {
  margin: 20px 10px;
  background-size: auto;

  background: url("src/assets/img/background_card.png");
  background-origin: border-box;

}

.new-card-title{
  text-align: center;
  height: 50px
}

.new-actions {
  text-align: center;
}

.full-width{
  max-width: 100vw !important;
}
